#container {
    display:none;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-top: 100px;
}

#akana {
    display: inline-block;
    float:left;
}

#about {
    font-size:20;
    display: inline-block;
    float:left
}

a:visited {
    color:white;
}

