header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-top: 90px;
}

#wrap {
    background-color:black;
	overflow:auto;
	outline-style: solid;
	width: 600px;
	flex-shrink: 10;
	height: 100%;
	max-height: 800px;
}

body {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: "UTDR-Normal";
    color: white;
    background-image: url("../img/bgsnowflake98.png");
    background-size: 100px;
    background-color:black;
    margin: 0;
    padding: 50px;
    box-sizing: border-box;
    background-repeat: repeat;
    background-size: 200px;
	z-index: 0;
}


.maintext {
    margin-left: auto;
	margin-right: auto; 
    transform: translateX(0.25px);
    font-size: 32px;
    max-width: 500px;
    text-align: left;
}
