@font-face {
    font-family: "ComicSans";
    src: url("../font/comic.otf"), format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: "LinjaPona";
    src: url("../font/linjaponadyna.otf"), format("opentype");
    font-weight: normal;
}

html {
		cursor: url('../img/cursor.cur'), auto;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", "ComicSans", "LinjaPona" ;
    color: white;
    height: 100%;
   
    margin: 0;
    display: flex;

    background-image: linear-gradient(
      rgba(80, 80, 80, 0.5), 
      rgba(80, 0, 255, 0.45)
    ), url("../img/bg.gif");
}

a {
    color: white;
}

a:visited {
    color: rgb(128, 128, 128);
}