canvas {
    	image-rendering: optimizeSpeed;             /* Older versions of FF          */
    	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    	image-rendering: -webkit-optimize-contrast; /* Safari                        */
    	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    	image-rendering: pixelated;                 /* Awesome future-browsers       */
    	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

canvas:hover {
    	cursor: pointer;
}

#main-txt {
    	margin-top: 200px;
    	color:white;
    	text-align: center;
    	/*Use built-in font if on windows, use ttf if otherwise*/
}

#links {
    	margin-top: 1in;
    	font-size: 30px;
}

#title {
    	display: flex;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 2in;
    	width: auto;
    	height: 60px;
    

}

#container {
    /*-- TO BE UNDONE--*/
    display:none;
    /*-----------------*/
    width: auto;
    height: auto;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
}

.badge-container {
    	margin-top: 0.5in;
    	display: flex;
    	justify-content: center;
    	align-items: center;
}

.badge-container2 {
    	margin-top: 0.05in;
    	display: flex;
    	justify-content: center;
    	align-items: center;
}

#badge {
    	margin-left: 5px;
}

header {
    	margin-top: 0.1in;
    	display: flex;
    	justify-content: center;
    	position: absolute;
    	top: 0%;
    	left: 50%;
    	margin: -100px 0 0 -320px;
    	width: 640px;
}

#gir {
    	margin-top: 1.8in;
    	float:right;
}
#gir2 {
    	margin-top: 1.8in;
    	float:right;
}

#guestbook {
    display:block;
    font-size: 20px;
    margin-top: 0.5in;
    text-align: center;
}

#guestbook:visited {
    color: white;
}
